<%- include('header' , {cssFilePath: '/login.css'}) -%>
<link rel="stylesheet" href="/Drag--Drop-Upload-Form.css">

  <title>File Upload</title>
</head>
<body>
  <div class="container">
    <h1> File Upload</h1>
    <%= typeof msg != 'undefined' ? msg : '' %> 
    <form class="cloud-form" action="/upload" method="POST" enctype="multipart/form-data">
   <div class="dashed_upload"></div>
   <hr>
   <div class="form-group files color"><input type="file" name="myImage"></div>
   <div class="container buttonholder">
    <input type="submit" class="btn btn-outline-primary" />
    <input type="hidden" name="expenseId" value="<%=expId%>">
    </div>  
    </form>
</div>
  <%- include('footer'); -%>