<%- include('headerNoLogin', {cssFilePath: '/login.css'}); -%>
<form action="/ocr?_method=POST" method="POST">
  <input type="submit" id="form-button"value="Submit" class = "btn btn-success"></td>
</form>
<%- include('footer'); -%>